@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --safe-area-top: env(safe-area-inset-top);
  --safe-area-bottom: env(safe-area-inset-bottom, 0);
  --safe-area-left: env(safe-area-inset-left, 0);
  --safe-area-right: env(safe-area-inset-right, 0);
}

body {
  font-family: 'Poppins', sans-serif;
}

* {
  font-family: Poppins, sans-serif;
}

.bg-primary-gradient {
  background: linear-gradient(180deg, #009788 0%, #197e74 60.07%);
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.btn-icon {
  @apply relative flex h-10 w-10 items-center justify-center overflow-hidden rounded-full hover:cursor-pointer;
}

.btn-icon-light {
  @apply hover:bg-white/30;
}

.btn-icon-dark {
  @apply hover:bg-primary/30;
}

.form-group {
  @apply flex w-full flex-col;
}

.form-group .error {
  @apply mt-1 text-xs text-red-500;
}

ion-modal.member-activation-modal {
  --width: 60%;
  --max-width: 450px;
  --height: fit-content;
  --border-radius: 20px;
  --box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}
